body {
	text-align: center;
}

#container {
	width: 600px;
	height: 600px;
	border: 2px solid blue;
	margin: 10px auto;
}
#container div {
	width: 35.5px;
	height: 35.5px;
	background: green;
	border: 1px solid black;
	text-align: center;
	float: left;
}